
"scopeName": "source.pace"
"name": "Pace"
"fileTypes": [
  "pace"
]
"patterns": [
  {
    "match": "\\b(?:element|class|struct|return|default|type|get|set|alias|if|when|then|else|break|continue|is|config|use|convertion|operator|func|public|private|visible|this|new|not|and|or|throw|catch)\\b"
    "name": "keyword.pace"
  },
  {
    "match": "([\\p{L}_][\\p{L}_0-9]*)\\s*(?:(<(?:\\g'2'|[^<>])*>)\\s*)?\\(",
    "captures":{
      "1":{
        "name":"entity.name.function"
      }
    },
  },
  {
    "match": "\\b(?:true|false|null)",
    "name": "constant.language"
  },
  {
    "match": "\\b(?:object|bool)\\b",
    "name": "entity.name.type"
  },
  {
    "match": "\\[(import|package)\\s*(\\w+)\\s*]",
    "captures":{
      "1":{
        "name": "keyword.pace"
      },
      "2":{
        "name": "string.package.pace"
      }
    }
  },
  {
    "match": "\\b(main)\\s*=>",
    "captures":{
      "1":{
        "name": "keyword.pace"
      }
    }
  }
  {
    "match": "\\b0[xX][0-9a-fA-F]+",
    "name": "constant.numeric.pace"
  },
  {
    "match": "\\b0[bB][01]+",
    "name": "constant.numeric.pace"
  },
  {
    "match": "\\b[0-9]+(?:\\.[0-9]+)?",
    "name": "constant.numeric.pace"
  },
  {
    "begin": "<!--",
    "end": "-->",
    "name": "comment.pace"
  },
  {
    "begin": "//",
    "end": "\\n",
    "name": "comment.pace"
  },
  {
    "begin": "\"",
    "end": "\"",
    "name": "string.pace"
  },
  {
    "begin": "(?=<attributes>)",
    "end": "(?<=</attributes>)",
    "patterns": [
      {
        "include": "text.xml"
      }
    ]
  },
  {
    "match": "\\b(?:implicit|automatic)\\s+convertion\\b",
    "name": "keyword.pace"
  },
  {
    "match": "(global|local)\\s*(?=::)",
    "captures": {
      "1": {
        "name": "keyword.pace"
      }
    }
  },
  {
    "match": "(\\w+)\\s*(?=::)\\s*(\\w+)?",
    "captures": {
      "1": {
        "name": "string.package.pace"
      },
    }
  }
]
